span {
    color: blueviolet;
}

/*reject by Tanvie for being too tacky*/
/*
body{
    background:red;
    background:linear-gradient(grey, orange, blue);
}
*/
body {
    background-color: darkgrey;
    -webkit-animation:mymove 5s infinite;
    animation: mymove 25s ;}
@-webkit-keyframes mymove{
    from{background-color:lightgrey;}
    to {background-color:black;}
}
/* slowly get blacker over the course of game, sped up for demo purposes, will turn black over course of game, but not turn back because that would be jarring  */
/*
body {
    background: #133fff;
    background: linear-gradient(grey, orange, blue);
}
*/
p.top_bar {
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: darkblue;
    width: 1000px;

}
/*
.yes {
    color: #00008b;
    background-color;
    text-align: center;
    line-height: 20px;
    margin: 20px;
    border-style:solid;
    border-width:3px;
    border-color:#6f00ff;
    width: 500px;
     maybe include the command column-gap
}
*/